body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "bold";
  src: local("NunitoSansBold"),
  url("./fonts/NunitoSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "light";
  src: local("NunitoSansBold"),
  url("./fonts/NunitoSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "regular";
  src: local("NunitoSansBold"),
  url("./fonts/NunitoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "extra";
  src: local("NunitoSansBold"),
  url("./fonts/NunitoSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "semi";
  src: local("NunitoSansBold"),
  url("./fonts/NunitoSans-SemiBold.ttf") format("truetype");
}
